.navbar-brand {
    position: relative;
    background: url(logo2.png);
    width: 250px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.btn {
    /* padding: 0 10px 0 10px; */
}